<!DOCTYPE html>
<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>This site is created by Lavanya Cheemakurthy.It uses data from mapbox.com and darksky api.</p>
        <!--calling partials with just file name, 
        all input arguments to this pge will be accessible for partial too.
        Removing <h1>{{title}}</h1>
        -->
        <img class="portrait" src="/img/me.jpg"></div>

    {{>footer}}
</body>

</html>