<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
     <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!--As we will see title in header remove this header
        <h1>Help</h1>
        -->
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>